{% extends 'base.html.twig' %}

{% block title %}
    Mars explorer
{% endblock title %}
{% block project %}
    Mars explorer
{% endblock project %}

{% block content %}

    <div class="jumbotron">
        <h1>Rover</h1>
        <p class="lead">Plateau Exploring</p>
        {#<p><a class="btn btn-lg btn-success" href="#" role="button">Repeat discovering</a></p>#}
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
    
        </div>

        <div class="col-lg-6">
            <h4>Results</h4>
            <p>Rover has discoverd plateau and stopped. Current position is <strong> {{ position }}</strong> </p>
        </div>
    </div>
{% endblock content %}
