<ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="{{ path('home') }}">Home</a></li>
    <li role="presentation"><a href="{{ path('mars') }}">Mars</a></li>
    <li role="presentation"><a href="{{ path('gallery') }}">Gallery</a></li>
</ul>