{% extends 'base.html.twig' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{% trans %}please.register{% endtrans %}</h1>
    </div>
    <div class="row marketing">
        <div class="col-lg-4">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-lg btn-success" role="button" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}